include mixins/_flash

doctype html
html(lang="en")
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
    a(href="/") SALTY SATURDAY
      each item in h.menu
        li
          a(href=item.slug)
            span #{item.title}

      if user
        li: a(href="/logout")
          span Logout
        li: a(href="/settings")
          span Settings
        p You are logged in as 
          a(href=`/u/${user.username}`) #{user.username}
          img(src=`/uploads/${user.photo || 'salt.jpg'}` height="76" width="auto")
      else
        li: a(href="/register") Register
        li: a(href="/login") Login
        li: a(href="/reset") Forgot your shit?

      hr
      
    +flash()

    .content
      block content

      block footer
        each item in h.footermenu
          li
            a(href=item.slug)
              span #{item.title}

    block scripts
      script(src="/dist/App.bundle.js")