include mixins/_flash

doctype html
html(lang="en")
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
    a(href="/") SALTY SATURDAY
      each item in h.menu
        li
          a(href=item.slug)
            span #{item.title}

      if user
        li: a(href="/logout")
          span Logout
        li: a(href="/account")
          span Account
        span You are logged in as #{user.username}
      else
        li: a(href="/register") Register
        li: a(href="/login") Login
<<<<<<< HEAD
        li: a(href="/reset") Forgot your shit?
        hre

=======
      <hr>
      
>>>>>>> feature/story
    +flash()

    .content
      block content

      block footer
        each item in h.footermenu
          li
            a(href=item.slug)
              span #{item.title}

    block scripts
      script(src="/dist/App.bundle.js")