extends ../layout

block content
  h2= story.title
  a(href=`/u/${story.author.username}`) #{story.author.username}
  p= story.created
  //- Only the author can edit the story
  if user && story.author.equals(user._id)
    a(href=`/stories/${story._id}/edit`) Edit
  if user && story.author.equals(user._id)
    form(action=`/stories/${story._id}/delete` method="POST")
      button(type="submit" name="delete") Delete
  p= story.story
  form.upvote(action=`/api/stories/${story._id}/upvote` method="POST")
    button(type="submit" name="upvote") Upvote
  //- Salty points 
  //- Comments
  //- Report
  //- Share
  //- Upvote