extends ../layout

block scripts
  script(src="/dist/story.bundle.js")
  script(src="/dist/comment.bundle.js")

block content
  h2= story.title
  a(href=`/u/${story.author.slug}`) #{story.author.username}
  p Upvotes:
    span#upvote-number= story.upvotes.length
  p= story.created
  //- Only the author can edit the story
  if user && story.author.equals(user._id)
    a(href=`/stories/${story._id}/edit`) Edit
  if user && story.author.equals(user._id)
    form(action=`/stories/${story._id}/delete` method="POST")
      button(type="submit" name="delete") Delete
  p= story.story
  button#upvote upvote!
  #comment-root
    comment