mixin storyCard( story = {} )
  .card
      .card__story-header
        img(src=`/uploads/${story.author.photo || 'salt.jpg'}`)

        .card__story-info
          .card__story-info--right
            a(href=`/u/${story.author.slug}`) #{story.author.username}
            span= h.m(story.created).fromNow()

        a(href=`/reee/${story._id}` class="card__story-title") #{story.title}

      .divider

      .card__story-body
        p= story.story.split(' ').slice(0, 50).join(' ') + '...'

      .card__story-footer
        //- If the user is the author
        if user && story.author.equals(user._id)
          .card__story-edit
            a(href=`/stories/${story._id}/edit` class="card__story-edit-link") Edit
            a(href=`/stories/${story._id}/delete` class="card__story-delete-link") Delete

        a(href=`/reee/${story._id}#comment-root`)
          i.fa.fa-comment-o
          span= story.comments.length

        i.fa.fa-heart-o
        span= story.upvotes.length
