mixin storyCard( story = {} )
  h2
    a(href=`/reee/${story._id}`) #{story.title}
  
  a(href=`/u/${story.author.username}`) #{story.author.username}
  p= story.created
  //- Only the author can edit the story
  if user && story.author.equals(user._id)
    a(href=`/stories/${story._id}/edit`) Edit 
  p= story.story.split(' ').slice(0, 25).join(' ')

  form(action=`/api/stories/${story._id}/upvote` method="POST")
    button(type="submit" name="upvote") Upvote
  //- Report
  //- Share
  //- Comments
  //- Upvote
  //- Salty points
  <hr>